<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/gd"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aspose"
        tools:targetApi="31">
        <activity
            android:name=".Activity_1_p1_1"
            android:exported="false" />
        <activity
            android:name=".Activity_1_p2"
            android:exported="false" />
        <activity
            android:name=".Activity_1_p1"
            android:exported="false" />
        <activity
            android:name=".Activity_type_2b8"
            android:exported="false" />
        <activity
            android:name=".Activity_type_2b7"
            android:exported="false" />
        <activity
            android:name=".Activity_type_2b6"
            android:exported="false" />
        <activity
            android:name=".Activity_type_2b5"
            android:exported="false" />
        <activity
            android:name=".Activity_type_2b4"
            android:exported="false" />
        <activity
            android:name=".Activity_type_2b3"
            android:exported="false" />
        <activity
            android:name=".Activity_type_2b2"
            android:exported="false" />
        <activity
            android:name=".comp"
            android:exported="false"
            android:label="@string/title_activity_comp"
            android:theme="@style/Theme.Aspose" />
        <activity
            android:name=".compose"
            android:exported="false"
            android:label="@string/title_activity_compose"
            android:theme="@style/Theme.Aspose" />
        <activity
            android:name=".Activity_type_SHB1"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity_type_2b1"
            android:exported="false" />
        <activity
            android:name=".Activity_type_2b"
            android:exported="false" />
        <activity
            android:name=".Activity_type_2_sosudi1"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity_type_2_sosudi"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity_type_1_2"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_type_1_1"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Activity_type_2"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity_type_1"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Activity_registr"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
    </application>

</manifest>